@tailwind base;
@tailwind components;
@tailwind utilities;

.shim-green {
  overflow: hidden;
  background-color: #282424;
}
.shim-green::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  animation: shimmer 0.5s ease-out infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

.form-checkbox {
  appearance: none;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #282424;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  height: 1rem;
  width: 1rem;
}

/* Estilo personalizado */
.form-checkbox:checked {
  border-color: #282424;
  background-color: #282424;
}

/* .form-checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5);
} */
